@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    color: white;
  background-color: #131313;
  font-family: 'Lato', sans-serif;
}

/* background color, image, position, size, repeat, attachment */
.media-picture {
    width: 100%;
  height: 700px;
  background-image: url(https://i1.wp.com/www.heyuguys.com/images/2020/12/Jumanji-header.jpg?w=1920&ssl=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /*a imagem fica fixa ao dar scroll; */
}

#titulo {
  opacity: 1;
}
h1{
    color: white;
}
h2{
    color: steelblue;
}
a{
    color: yellow;
}
.review-score {
    background-color: #e6bd09;
    padding: 10px 30px;
}